<footer class="text-center text-lg-right">

<div class="col-md-12">
  <ul class="ft-link mb-1">
    <li><a href="#" onclick="return false;">Terms & conditions</a></li>
    <li><a href="#" onclick="return false;">Privacy Policy</a></li>
    <li><a href="#" onclick="return false;">Copyright</a></li>
    <li><a href="#" onclick="return false;">Hyperlinking Policy</a></li>
    <li><a href="#" onclick="return false;">Contact Us</a></li>
    <li><a href="#" onclick="return false;">Help</a></li>
  </ul>
</div>
  <div class="col-md-12">
      <span> All Rights Reserved. © Copyright 2019</span>
  </div>
</footer>