<ng-container></ng-container>

<header class="fixed-top">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <div class="log-sec">
        <img src="assets/logoTrademark.png" alt="logo" class="logo">
      </div>
      <a class="nav-icon" id="show-sidebar">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <div class="pdr-5">
  
      <div class="nav-item dropdown col-blk">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <em class="fa fa-user"></em> {{userName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" onclick="return false;" (click)='viewProfile()'>
            <em class="fa fa-eye"></em> View Profile</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#change-pwd">
               <em class="fa fa-edit"></em> Change Password</a>
            <!-- <a class="dropdown-item" href="#" onclick="return false;">
              <em class="fa fa-question"></em> Help</a> -->
            <a class="dropdown-item" (click)="logOut()" href="#" onclick="return false;">
            <em class="fa fa-sign-out-alt"></em> Logout</a>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Change Password modal -->
<div class="modal fade" id="change-pwd">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h2 class="modal-title heading">Change Password</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <form [formGroup]="changePasswordForm">
          <div class="row">
            <div class="col-md-12 form-group">
              <label>Old Password</label>
              <div class="input-group">
                <input type="password" class="form-control" formControlName="oldPassword"
                name="oldPassword" [(ngModel)]="user.oldPassword">
              </div>
              <div
									*ngIf="changePasswordForm.controls.oldPassword.errors && (changePasswordForm.controls.oldPassword.dirty || changePasswordForm.controls.oldPassword.touched)">
									<span *ngIf="changePasswordForm.controls.oldPassword.errors.required" class="error">
										Please enter user name</span>
								</div>
            </div>
          
            <div class="col-md-12 ">
              <h6 class="uppercase brd-head">Update Password</h6>
            </div>


            <div class="col-md-6 form-group">
                
              <label>New Password</label>
              <div class="input-group">
                <input type="password" class="form-control" formControlName="newPassword"
                name="newPassword" [(ngModel)]="user.newPassword">
              </div>
              <div
									*ngIf="changePasswordForm.controls.newPassword.errors && (changePasswordForm.controls.newPassword.dirty || changePasswordForm.controls.newPassword.touched)">
									<span *ngIf="changePasswordForm.controls.newPassword.errors.required" class="error">
										Please enter user name</span>
								</div>
            </div>

            <div class="col-md-6 form-group">
              <label>Confirm Password</label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="confirmPassword"
                name="confirmPassword" [(ngModel)]="user.confirmPassword">
              </div>
              <div
									*ngIf="changePasswordForm.controls.confirmPassword.errors && (changePasswordForm.controls.confirmPassword.dirty || changePasswordForm.controls.confirmPassword.touched)">
									<span *ngIf="changePasswordForm.controls.confirmPassword.errors.required" class="error">
										Please enter user name</span>
								</div>
            </div>
          
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="submitForm()">Update</button>
            </div>
          </form>
      </div>

      <!-- Modal footer -->
      

    </div>
  </div>
</div>