<div class="page-wrapper toggled">
  <!-- Sidebar -->
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-menu">
        <ul class="pt-2">
          <li class="">
            <a class="nav-link" href="#" onclick="return false;" routerLink="/Home" [routerLinkActive]="['is-active']">
              <i class="fa fa-home"></i>
              <span>Home</span>
            </a>
          </li>

          <li class="">
            <a class="nav-link" href="#" onclick="return false;" [routerLinkActive]="['is-active']">
              <i class="fa fa-calendar"></i>
              <span>Sample</span>
            </a>
          </li>
          <li class="">
            <a class="nav-link" href="#" onclick="return false;" routerLink="/Login" [routerLinkActive]="['is-active']">
              <i class="fas fa-sign-out-alt"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>